.filter-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 50px;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.projects-container {
    padding: 20px;
    border: 1px solid #EEEEEE;
    border-top: hidden;

}

.projects-name {
    margin-bottom: 4px;
    color: var(--title-text-color);
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

}

.projects-type {
    font-size: 16px;
    line-height: 1.88;
    font-size: 16px;
    color: #757575;
}

.social-container {
    margin-right: 93px;

}

.projects-item-wraper {
    position: relative;
    overflow: hidden;
}


.item-overlay {
    font-size: 18px;
    line-height: 1.56px;
    position: absolute;
    padding: 63px 24px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: var(--transform);
    color: var(--primary-white-color);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    background: rgba(33, 150, 243, 0.9);
}

.projects-item {
    transition: var(--transform);

}

.projects-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.project-list-item:hover .item-overlay {
    transform: translateY(0);
}