 .form-title {
     font-weight: 700;
     font-size: 20px;
     line-height: 1.15;
     text-align: center;
     color: #212121;
     margin-bottom: 12px;
 }

 .contact-form-element-desk {
     display: block;
     font-size: 12px;
     line-height: 1.17;
     letter-spacing: 0.01em;
     margin-bottom: 4px;

 }

 .contact-form-input {
     width: 100%;
     height: 40px;
     border: 1px solid rgba(33, 33, 33, 0.2);
     border-radius: 4px;
     padding-left: 42px;
     padding-right: 10px;
     margin-bottom: 10px;
     transition: var(--transform);

     &:focus {
         outline: transparent;
         border-color: var(--accent-color);

         +.contact-form-icon {
             fill: var(--accent-color);
         }
     }

 }

 .contact-form-input-wrapper {
     position: relative;
     display: block;
 }

 .contact-form-icon {
     position: absolute;
     left: 12px;
     top: 11px;
     transition: var(--transform);
 }

 .contact-form-field {
     margin-bottom: 20px;
 }

 .contact-form-message {
     width: 100%;
     height: 120px;
     padding: 10px 15px;
     resize: none;
     border: 1px solid rgba(33, 33, 33, 0.2);
     border-radius: 4px;
     transition: var(--transform);

     &:focus {
         outline: transparent;
         border-color: var(--accent-color);
     }

     &::placeholder {
         padding-top: 12px;
         font-size: 12px;
         line-height: 0.86px;
         letter-spacing: 0.01em;
         color: rgba(117, 117, 117, 0.5);
     }

 }


 .contact-form-checkbox-label {
     display: flex;
     margin-left: 36px;
     margin-bottom: 30px;
     position: relative;
     font-size: 14px;
     line-height: 2;
 }

 .policy-link {
     color: #2196F3;

 }

 .contact-form-checkbox {
     margin-left: 7px;

     &:checked~.chekbox-policy-icon {
         fill: var(--accent-color);
         border: none;
     }

     &:focus~.chekbox-policy-icon {
         border: 1px solid var(--accent-color);
         border-radius: 4px;
     }
 }

 .chekbox-policy-icon {
     fill: transparent;
     border: 1px solid #000;
     border-radius: 4px;
     position: absolute;
     top: 6px;
     left: -22px;
     transition: var(--transform);

 }